{% extends "master.html" %}

{% load static %}

{% block title %}
  Property postings
{% endblock %}

{% block content%}
  <h1 class="text-3xl font-bold underline">Property postings</h1>

  <ul>
    {% for posting in postings %}
      <li><a href="details/{{posting.postingID}}">{{ posting.postingTitle }}</a> {{ posting.city }}
        {{posting.streetName}} <a href="details/{{posting.postingID}}"><img src="{% static 'tl.webp' %}" alt="Edit posting" style="width:30px;height:30px;"></a></li>
    {% endfor %}
  </ul>
{% endblock %}